<div class="sidebar">
    <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU4EsP9eHKdYv9VLHX5QVcEtJOTLBFd2ufCQ&usqp=CAU">
    <div style="text-align: center; font-size: 1em">Welcome to Discussion Forum home page. Come here to
        check in with your favorite communities.</div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateCommunity" (click)="goToCreateCommunity()">Create Community</button>
    </div>
</div>